/* General */
body {
    margin: 0px; padding: 0;
    background: #0e2934;
    color: #fff;
}
body, td, th {
    font-family: sans-serif;
}
h1 {
    margin: 0;
    padding: 2px 0 0 0;
    font-size: 1em;
    font-weight: bold;
    color: #e1e1e1;
}
a {
    color: #99d0ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
label {
    cursor: pointer;
}
.is-signedin .not-signedin,
.is-not-signedin .signedin {
    display: none;
}
/* Header and footer */
#header {
    padding: 20px 20px 20px 55px;
    color: #a5a3a4;
    border-bottom: 1px solid #1b4657;
    background: #1a1819 url(../img/icon.png) 20px center no-repeat;
}
#header ul.info {
    padding: 0;
    margin: 0;
    display: block;
    float: right;
}
#header ul.info li {
    padding: 0;
    margin: 0;
    display: inline-block;
    padding-left: 20px;
}
#header ul.info li.first {
    padding-left: 0;
}
#header img {
    vertical-align: -35%;
}
#footer {
    font-size: 0.8em;
    padding: 10px;
    text-align: center;
    background: rgba(0,0,0,0.2);
    color: #999;
}

/* Content */
#container {
    padding: 0 20px 10px 20px;
    text-align: center;
}
#level {
    border-bottom: 1px dotted #999;
    cursor: help;
}
#map {
    position: relative;
    margin: 40px auto 0 auto;
    width: 1000px;
    height: 1000px;
    text-align: left;
    border-width: 0;
    border-radius: 10px;
    background-repeat: no-repeat;
}
#map #buildings, #map #landmarks {
    position: absolute;
    width: 1000px;
    height: 1000px;
}
#map #landmarks {
    cursor: crosshair;
}
#map #grid {
    position: absolute;
    width: 1050px;
    height: 1050px;
}
#map img.monument, #map img.player {
    position: absolute;
    cursor: help;
}
.is-signedin #map img.monument {
    opacity: 0.5;
}
#map img.monument:hover {
    opacity: 1.0;
}
#displayoptions {
    margin-top: 70px;
}
#friends {
    position: fixed;
    bottom: 0px;
    right: 15px;
    background: #1a1819;
    width: 250px;
    padding: 10px;
    border: 1px solid #1b4657;
    border-bottom: 0;
}
#friends .icon {
    width: 20px;
    vertical-align: -20%;
}
#allieslist .player .icon {
    float: right;
    opacity: 0.2;
}
#allieslist .player .icon:hover {
    opacity: 1.0;
}
#allieslist, #recentlist {
    max-height: 200px;
    overflow: auto;
}
#allieslist a, #recentlist a {
    display: block;
    padding: 3px;
    font-size: 0.8em;
    cursor: pointer;
    border-bottom: 1px solid #1a1819;
}
#allieslist a {
    padding-left: 29px;
    background: transparent;
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 20px;
}
#allieslist a.friend {
    background-image: url(../img/share-you.png);
}
#allieslist a.share {
    background-image: url(../img/share-they.png);
}
#allieslist a.mutual {
    background-image: url(../img/share-both.png);
}
#friends h2 {
    font-weight: normal;
    color: #736e70;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
#friends ul {
    margin: 10px 0;
    padding: 0;
    min-height: 18px;
    background: #232122;
}
#friends table.legend {
    width: 100%;
    margin-top: 5px;
    font-size: 0.8em;
}
#friends table.legend td {
    text-align: center;
}

/* Notifications */
.notifyjs-rust-base {
    background-color: #1a1819;
    color: #ddd;
    padding: 5px 8px;
    box-shadow: rgba(0,0,0,0.4) 0 0 5px;
}
.notifyjs-rust-base strong {
    color: #ffdd00;
}
